@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900;
  }
  a {
    @apply underline;
  }
}

@layer components {
  blockquote {
    @apply bg-slate-300 dark:bg-slate-600 rounded p-2;
  }
  ol {
    @apply list-decimal list-inside;
  }
  ul {
    @apply list-disc list-inside;
  }
  pre code.hljs {
    @apply whitespace-pre-wrap rounded p-2 overflow-visible !important;
  }
  span.spoilered {
    @apply bg-slate-200 dark:bg-slate-700 text-slate-200 dark:text-slate-700 rounded cursor-pointer !important;
  }
  span.unspoilered {
    @apply bg-slate-200 dark:bg-slate-700 text-slate-900 dark:text-slate-50 rounded cursor-pointer !important;
  }
}
